<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <section class = "wrapper">
      {{#users}}
      <section class = "employees"
        <a><img src="{{avatar}}"></a>
        <h3>{{name}}</h3>
        <p>{{job}}
        {{company}}</p>
      </section>
      {{/users}}
    </section>
  </body>
</html>
