.wrapper {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}

.employees {
	border: 1px solid black;
	width: 200px;
	padding: 20px;
  margin: 10px;
}

h3 {
	color: #1DA1F2;
}

.unemployed {
	color: red;
}
